# Environnement
venv/
.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Données & outputs
data/
outputs/
*.pdf
*.png

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

#AI
OAI_CONFIG_LIST.json

uploads/
celery_log.txt
body*.json
test_mogrify.py
test_similarity_query.py
